
$header-color : #fa4b2a;
$white 		: #fff;
$black 		: #333;
$lightred	: #dc4225;
$navyblue	: #292484;
$darkgreen	: #417711;
$darkyellow : #d38312;
$blue		: #002f4b;
$lightyellow: #e0be00;
$text-color	: #444;
$grey		: #555;
$lightgrey	: #999;
$black		: #000;
$rose		: #a83279;
$yellow		: #ffb400;
$lgrey 		: #ddd;