/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fragments";


 #container{
    width 		: 100%;
    height 		: 100%;
    font-family	: 'Slabo 27px', serif;
    cursor: pointer;
}

#site_header{
    width : 100%;
    height : 65px;
    background-color : $header-color;
    position : fixed;
    z-index:3;
    top:0;
}

#hamburger {
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 14px 23px;
    width: 33px;
    background-color: $header-color;
    float: left;
    box-sizing: border-box;
}

#hamburger div {
    height: 3px;
    margin-top: 4px;
    width: 22px;
    background-color: $white;
}

#header_logo{
    float:left;
    display:inline-block;
    width:  173px;
    text-align:center;
    img{
        width:100%;
        margin-top: 5px;
        margin-left: 8px;
    }
}
#new_articles{
	float:right;
	display:inline-block;
	width:75px;
	text-align:center;
	height:48px;
	border-left: 1px solid $white;
	margin-top: 5px;
	color: $white;
	cursor:pointer;
	strong{
		display:block;
		font-size:33px;
		font-weight: bold;
	}
	em{
		font-size:11px;
	}
}

#drawer {
	box-sizing: border-box;
    position: fixed;
    top:43px;
    bottom:0;
	width: 280px;
    background: $black;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 150 ms;
    left: -280px;
    z-index: 2;
    border-right: 2px solid $header-color;
    background: $black;

    ul {
    	list-style: none;
    	padding: 0;
	}
	.login{
		background-color: $black;
	}
	.border_o{
		border-left: 4px solid $header-color;
	}
	.border_b{
	    border-left: 4px solid #336;
	}
	.border_l{
	    border-left: 4px solid #72c9d9
	}
	.border_p{
	    border-left: 4px solid #c40027;
	}
    .border_g{
      	border-left: 4px solid #a79159;
    }
    .border_bl{
      	border-left: 4px solid #118cf3; 
      }  
      

	li {
    	margin: 0;
   		width: 100%;
    	padding: 11px;
    	height: 24px;
    	background-color: #222;
    	border-top: 1px solid #2f2f2f;
	}

	a {
    	display: block;
   	 	text-decoration: none;
    	color: $white;
    	font-size:14px;
	}
	a:hover {
	 	color: $header-color; 	
	}
	.social{
		li{
	   	 	display: inline-block;
    		width: 37px;
    		padding: 12px;
   	  		background-color: $black; 
    		height: 15px;
    		border-top: 0;
   		}
	}
}

#drawer.drawer_left {
    transition 	: 150 ms;
    left 		: 0px;
  }
#right_drawer.drawer_right {
 	transition 	: 150 ms;
    right 		: 0;
 }

 #right_drawer{
 	box-sizing	: border-box;
    position	: fixed;
    top 		: 48px;
    bottom 		: 0;
    right 		: -280px;
	width 		: 280px;
    overflow-x 	: hidden;
    overflow-y 	: auto;
    transition 	: 150 ms;  
    z-index 	: 2;
    border-left : 2px solid $header-color;
    height		: 100%;
    background-color : $white;
 }

#contents{
	margin : 0 auto;
	width: 100%;
    margin-top:65px;
    position:relative;
 }
 .news_slot{
    position: relative;
    margin : 0 auto;
    min-height: 175px;
    dispaly: block;
    a{
        text-decoration: none;
    }
     
 }
.title{
        font-weight: 400;
        z-index:2;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        color: $white;
        font-size:27px;
        line-height: 1.2;
        position: relative;
        padding:18px;
        box-sizing: border-box;
        padding-bottom:0;
        white-space: normal;
}
 .by{
        font-weight: 0;
        line-height:0;
        font-size:15px;
        padding-top:7px;
 }
 .news{
    margin :0 auto;
    width   :100%;
    height  :100%;
    position : absolute;
    top:0;
    right:0;
    left:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.news::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.7;
}
.n_one{
    background-image: url("https://cdn2.vox-cdn.com/thumbor/5IDBWEBU6NVmKx8QgfEAM7aQLK4=/0x79:1275x796/340x192/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48692457/airmail.0.0.jpg");
}
.n_one::after{
    background-image: linear-gradient(135deg, $navyblue,$lightred);
}
.n_two{
    background-image: url("https://cdn0.vox-cdn.com/thumbor/6-EhbtyEYYJeCp5JnAXjzcpCztE=/0x406:3696x1638/800x267/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48678951/GettyImages-486026810.0.jpg");
}
.n_two::after{
     background-image: linear-gradient(135deg, $blue,$darkgreen);
}
.n_three{
    background-image: url("https://cdn0.vox-cdn.com/thumbor/hBiFiQZoJS-f7OLPw5EjywaqE4w=/0x697:3000x1697/800x267/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48666971/20151010CASF_Water02145_1.0.0.jpg");
}
.n_three::after{
     background-image: linear-gradient(135deg, $navyblue,$rose);
}
.n_four{
    background-image: url("https://cdn1.vox-cdn.com/thumbor/109pNAMh04CA37OMX7F_TfURdl8=/4x0:1676x1115/300x200/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48682063/armageddon_promotional_still.0.0.jpg");
}
.n_four::after{
    background-image: linear-gradient(135deg,$darkyellow,$blue);
}
.n_five{
    background-image: url("https://cdn0.vox-cdn.com/thumbor/34oq0RT_R9yCTck3qUyL64Xmk28=/0x0:2039x1359/300x200/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48689365/spotify-logo-stock1_2040.0.jpg");
}
.n_five::after{
    background-image: linear-gradient(135deg,$lightyellow,$lightred);
}
.n_six{
    background-image: url("https://cdn2.vox-cdn.com/thumbor/hzpxaGleaQe-tUSJx0rQ6Xi__kA=/148x0:1763x1077/300x200/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48681043/nuts.0.0.jpg");
}
.n_six::after{
    background-image: linear-gradient(135deg,$darkyellow,$rose);
}
.n_seven{
    background-image: url("https://cdn3.vox-cdn.com/thumbor/-BIrDh0YIMUadK7Vq3ed4pKegqs=/0x212:1024x895/300x200/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48686519/OlivierElkhatib_2016-Jan-30.0.0.jpg");
}
.n_seven::after{
    background-image: linear-gradient(135deg,$darkgreen,$lightred);
}

.news_scroller{
    position: relative;
    margin : 0 auto;
    min-height: 175px;
    dispaly: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll{
    display: inline-block;
    width:85%;
    height:175px;
    vertical-align:top;
    position: relative;
}


