/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_header.scss */
#site_header {
  width: 100%;
  height: 65px;
  background-color: #fa4b2a;
  position: relative;
  z-index: 3;
  top: 0;
}

/* line 12, ../sass/_header.scss */
#hamburger {
  cursor: pointer;
  display: block;
  height: 20px;
  padding: 14px 23px;
  width: 33px;
  background-color: #fa4b2a;
  float: left;
  box-sizing: border-box;
}

/* line 23, ../sass/_header.scss */
#hamburger div {
  height: 3px;
  margin-top: 4px;
  width: 22px;
  background-color: #fff;
}

/* line 30, ../sass/_header.scss */
#header_logo {
  float: left;
  display: inline-block;
  width: 173px;
  text-align: center;
}
/* line 36, ../sass/_header.scss */
#header_logo img {
  width: 100%;
  margin-top: 5px;
  margin-left: 8px;
}

/* line 43, ../sass/_header.scss */
#new_articles {
  display: inline-block;
  width: 75px;
  text-align: center;
  height: 48px;
  border-left: 1px solid #fff;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 56, ../sass/_header.scss */
#new_articles strong {
  display: block;
  font-size: 33px;
  font-weight: bold;
}
/* line 62, ../sass/_header.scss */
#new_articles em {
  font-size: 10px;
}

/* line 67, ../sass/_header.scss */
#drawer {
  box-sizing: border-box;
  position: fixed;
  top: 43px;
  bottom: 0;
  width: 280px;
  background: #000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 150 ms;
  left: -280px;
  z-index: 2;
  border-right: 2px solid #fa4b2a;
  background: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  /*a:hover {
   	color    : $header-color; 	
  }*/
}
/* line 83, ../sass/_header.scss */
#drawer ul {
  list-style: none;
  padding: 0;
}
/* line 88, ../sass/_header.scss */
#drawer .login {
  background-color: #000;
}
/* line 92, ../sass/_header.scss */
#drawer .border_o {
  border-left: 4px solid #fa4b2a;
}
/* line 96, ../sass/_header.scss */
#drawer .border_b {
  border-left: 4px solid #336;
}
/* line 100, ../sass/_header.scss */
#drawer .border_l {
  border-left: 4px solid #72c9d9;
}
/* line 104, ../sass/_header.scss */
#drawer .border_p {
  border-left: 4px solid #c40027;
}
/* line 108, ../sass/_header.scss */
#drawer .border_g {
  border-left: 4px solid #a79159;
}
/* line 112, ../sass/_header.scss */
#drawer .border_bl {
  border-left: 4px solid #118cf3;
}
/* line 116, ../sass/_header.scss */
#drawer li {
  margin: 0;
  width: 100%;
  padding: 11px;
  height: 24px;
  background-color: #222;
  border-top: 1px solid #2f2f2f;
}
/* line 125, ../sass/_header.scss */
#drawer a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
/* line 130, ../sass/_header.scss */
#drawer a:hover {
  color: #fa4b2a;
}
/* line 140, ../sass/_header.scss */
#drawer .social li {
  display: inline-block;
  width: 37px;
  padding: 12px;
  background-color: #000;
  height: 15px;
  border-top: 0;
}

/* line 151, ../sass/_header.scss */
#drawer::-webkit-scrollbar {
  display: none;
}

/* line 155, ../sass/_header.scss */
#drawer.drawer_left {
  transition: 150 ms;
  left: 0px;
}

/* line 160, ../sass/_header.scss */
#right_drawer.drawer_right {
  transition: 150 ms;
  right: 0;
}

/* line 165, ../sass/_header.scss */
#right_drawer {
  box-sizing: border-box;
  position: fixed;
  top: 48px;
  bottom: 0;
  right: -280px;
  width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 150 ms;
  z-index: 2;
  border-left: 2px solid #fa4b2a;
  height: 100%;
  background-color: #fff;
}

/* line 183, ../sass/_header.scss */
.news_trending {
  display: none;
  z-index: 1;
}

/* line 188, ../sass/_header.scss */
.trending_now {
  display: none;
}

/* line 191, ../sass/_header.scss */
#drop_down {
  display: none;
}

/* line 194, ../sass/_header.scss */
.news_articles {
  margin: 0 auto;
  padding: 21px;
  box-sizing: border-box;
}
/* line 199, ../sass/_header.scss */
.news_articles ul {
  list-style: none;
}
/* line 203, ../sass/_header.scss */
.news_articles span {
  margin: 0 auto;
  display: block;
  margin-top: 14px;
  margin-bottom: 10px;
  font-size: 13px;
}
/* line 211, ../sass/_header.scss */
.news_articles a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
/* line 217, ../sass/_header.scss */
.news_articles a:hover {
  color: #fa4b2a;
}

/* line 222, ../sass/_header.scss */
.articles_date {
  color: #fff;
  font-size: 15px;
  background-color: #fa4b2a;
  width: 122px;
  padding: 3px;
  font-weight: 400;
}

@media screen and (min-width: 700px) {
  /* line 232, ../sass/_header.scss */
  .news_trending {
    display: block;
    height: 65px;
    background-color: #fff;
    position: relative;
    margin-left: 238px;
    margin-right: 75px;
  }

  /* line 241, ../sass/_header.scss */
  .trending_now {
    display: inline-block;
    z-index: 1;
    height: 65px;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
  }
  /* line 249, ../sass/_header.scss */
  .trending_now span {
    color: #fa4b2a;
    font-size: 16px;
  }
  /* line 254, ../sass/_header.scss */
  .trending_now a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 5px;
    font-weight: normal;
  }
  /* line 262, ../sass/_header.scss */
  .trending_now a:hover {
    color: #fa4b2a;
  }

  /* line 267, ../sass/_header.scss */
  .trending_toggle {
    width: 50px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
  }

  /* line 276, ../sass/_header.scss */
  .toggle_bg {
    background-color: #fa4b2a;
  }

  /* line 280, ../sass/_header.scss */
  .trending_toggle::before {
    border: 0 solid transparent;
    content: '';
    position: absolute;
    left: 11px;
    top: 33px;
    width: 0;
    height: 0;
    border-top-color: #000;
    border-width: 5px 5px 0 5px;
  }

  /* line 292, ../sass/_header.scss */
  .trending_toggle:active:before {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-color: #000;
    border-width: 0 5px 5px 5px;
  }

  /* line 301, ../sass/_header.scss */
  #drop_down {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: -280px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 150 ms;
    z-index: 2;
    left: 0;
    right: 50px;
    background-color: #fff;
    border-top: 1px solid #fa4b2a;
  }
  /* line 314, ../sass/_header.scss */
  #drop_down li {
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #999;
  }
  /* line 321, ../sass/_header.scss */
  #drop_down a {
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 5px;
    font-weight: normal;
  }
  /* line 330, ../sass/_header.scss */
  #drop_down a:hover {
    color: #fa4b2a;
  }

  /* line 335, ../sass/_header.scss */
  #drop_down.drop_down_open {
    transition: 150ms;
    top: 65px;
  }
}
/* line 2, ../sass/_contents.scss */
#contents {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

/* line 8, ../sass/_contents.scss */
.news_slot {
  position: relative;
  margin: 0 auto;
  min-height: 175px;
  dispaly: block;
}
/* line 13, ../sass/_contents.scss */
.news_slot a {
  text-decoration: none;
}

/* line 18, ../sass/_contents.scss */
.title {
  font-weight: 400;
  z-index: 2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 27px;
  line-height: 1.2;
  position: relative;
  padding: 18px;
  box-sizing: border-box;
  padding-bottom: 0;
  white-space: normal;
}

/* line 32, ../sass/_contents.scss */
.by {
  font-weight: 0;
  line-height: 0;
  font-size: 15px;
  padding-top: 7px;
}

/* line 39, ../sass/_contents.scss */
.comment_count {
  float: right;
  position: relative;
  text-align: center;
  min-width: 25px;
  padding: 2px;
  margin-right: 17px;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 4px;
}

/* line 51, ../sass/_contents.scss */
.comment_count::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: #000;
  border-width: 6px 8px 0 0px;
}

/* line 63, ../sass/_contents.scss */
.comment_bc {
  background-color: #ffb400;
  color: #000;
}

/* line 68, ../sass/_contents.scss */
.news {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 81, ../sass/_contents.scss */
.news::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

/* line 91, ../sass/_contents.scss */
.n_one {
  background-image: url("../images/airmail.0.0.jpg");
}

/* line 95, ../sass/_contents.scss */
.n_one::after {
  background-image: linear-gradient(135deg, #292484, #dc4225);
}

/* line 99, ../sass/_contents.scss */
.n_two {
  background-image: url("../images/gett.jpg");
}

/* line 103, ../sass/_contents.scss */
.n_two::after {
  background-image: linear-gradient(135deg, #002f4b, #417711);
}

/* line 107, ../sass/_contents.scss */
.n_three {
  background-image: url("../images/damm.jpg");
}

/* line 111, ../sass/_contents.scss */
.n_three::after {
  background-image: linear-gradient(135deg, #292484, #a83279);
}

/* line 115, ../sass/_contents.scss */
.n_four {
  background-image: url("../images/arm.jpg");
}

/* line 119, ../sass/_contents.scss */
.n_four::after {
  background-image: linear-gradient(135deg, #d38312, #002f4b);
}

/* line 123, ../sass/_contents.scss */
.n_five {
  background-image: url("../images/spo.jpg");
}

/* line 127, ../sass/_contents.scss */
.n_five::after {
  background-image: linear-gradient(135deg, #e0be00, #dc4225);
}

/* line 131, ../sass/_contents.scss */
.n_six {
  background-image: url("../images/nuts.0.0.jpg");
}

/* line 135, ../sass/_contents.scss */
.n_six::after {
  background-image: linear-gradient(135deg, #d38312, #a83279);
}

/* line 139, ../sass/_contents.scss */
.n_seven {
  background-image: url("../images/six.jpg");
}

/* line 143, ../sass/_contents.scss */
.n_seven::after {
  background-image: linear-gradient(135deg, #417711, #dc4225);
}

/* line 147, ../sass/_contents.scss */
.news_scroller {
  position: relative;
  margin: 0 auto;
  min-height: 175px;
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
}

/* line 157, ../sass/_contents.scss */
.scroll {
  display: inline-block;
  width: 85%;
  height: 175px;
  vertical-align: top;
  position: relative;
}

/* line 165, ../sass/_contents.scss */
.news_list {
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
/* line 170, ../sass/_contents.scss */
.news_list ul {
  margin: 0;
  padding: 0;
}
/* line 174, ../sass/_contents.scss */
.news_list ul li {
  margin: 0;
  padding: 0;
  border-bottom: 2px soild #555;
  position: relative;
  display: list-item;
  height: 150px;
}

/* line 185, ../sass/_contents.scss */
.mobile_list_img {
  margin: 8px 11px;
  width: 33%;
  height: 60%;
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

/* line 197, ../sass/_contents.scss */
.mobile_list_bg1 {
  background-image: url("https://cdn1.vox-cdn.com/thumbor/fNb1V-ZEWfpqqycnv0QPkWO-Gxs=/170x0:849x679/250x250/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48704755/google-self-driving-car-the-verge-09-1020.0.jpg");
}

/* line 201, ../sass/_contents.scss */
.mobile_list_bg2 {
  background-image: url("../images/DSC00256.0.0.jpg");
}

/* line 205, ../sass/_contents.scss */
.mobile_list_bg3 {
  background-image: url("../images/finebros.0.0.png");
}

/* line 209, ../sass/_contents.scss */
.mobile_list_bg4 {
  background-image: url("../images/timessqcat6_2040.0.0.jpg");
}

/* line 213, ../sass/_contents.scss */
.mobile_list_content {
  display: inline-block;
  box-sizing: border-box;
  width: 55%;
  height: 75%;
  vertical-align: top;
  margin-top: 10px;
}
/* line 220, ../sass/_contents.scss */
.mobile_list_content h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #444;
}
/* line 225, ../sass/_contents.scss */
.mobile_list_content h3 a {
  text-decoration: none;
}

/* line 231, ../sass/_contents.scss */
.mobile_list_detail {
  display: inline-block;
  margin: 0 auto;
  font-size: 11px;
  margin-top: 6px;
}
/* line 236, ../sass/_contents.scss */
.mobile_list_detail strong {
  border-right: 1px solid #000;
  margin-right: 3px;
  font-weight: 400;
  padding-right: 8px;
}

/* line 244, ../sass/_contents.scss */
.see_all {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  height: 100px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
  clear: both;
}
/* line 253, ../sass/_contents.scss */
.see_all a {
  text-decoration: none;
  color: #fa4b2a;
  font-size: 25px;
  font-weight: bold;
}
/* line 259, ../sass/_contents.scss */
.see_all a:hover {
  text-decoration: underline;
}

/* line 264, ../sass/_contents.scss */
.back_top {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 60px;
  box-sizing: border-box;
  background-color: #555;
  text-align: center;
  padding: 23px;
}
/* line 273, ../sass/_contents.scss */
.back_top a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

/* line 281, ../sass/_contents.scss */
.news_cols {
  display: none;
}

@media screen and (min-width: 600px) {
  /* line 286, ../sass/_contents.scss */
  .back_top {
    display: none;
  }

  /* line 289, ../sass/_contents.scss */
  .news_list {
    display: none;
  }

  /* line 293, ../sass/_contents.scss */
  .news_cols {
    display: block;
    padding: 9px;
  }

  /* line 297, ../sass/_contents.scss */
  .news_left, .news_right {
    width: 45%;
    float: left;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding-right: 9px;
  }

  /* line 304, ../sass/_contents.scss */
  .news_right {
    float: right;
  }

  /* line 308, ../sass/_contents.scss */
  .left_one {
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 2px solid #ddd;
  }
  /* line 312, ../sass/_contents.scss */
  .left_one a:hover {
    color: #fa4b2a;
    text-decoration: underline;
  }
  /* line 317, ../sass/_contents.scss */
  .left_one ul li {
    display: inline-block;
    background-color: #fa4b2a;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    font-weight: 400;
  }
  /* line 326, ../sass/_contents.scss */
  .left_one h3 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
  }

  /* line 333, ../sass/_contents.scss */
  .details {
    padding-bottom: 15px;
    padding-top: 5px;
  }
  /* line 336, ../sass/_contents.scss */
  .details strong {
    border-right: 1px solid #000;
    padding-right: 5px;
    font-weight: bold;
  }
  /* line 341, ../sass/_contents.scss */
  .details em {
    color: #555;
  }

  /* line 345, ../sass/_contents.scss */
  .mobile_list_img {
    width: 100%;
    height: 200px;
    margin: 0;
  }

  /* line 350, ../sass/_contents.scss */
  .description {
    margin-top: 15px;
    color: #555;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 700px) {
  /* line 359, ../sass/_contents.scss */
  .news_one {
    width: 50%;
    height: 350px;
    float: left;
  }

  /* line 365, ../sass/_contents.scss */
  .news_two {
    width: 50%;
    height: 175px;
    float: right;
    display: inline-block;
  }

  /* line 372, ../sass/_contents.scss */
  .news_scroller {
    clear: both;
  }

  /* line 376, ../sass/_contents.scss */
  .scroll {
    width: 60%;
  }
}
/* line 2, ../sass/_footer.scss */
#site_footer {
  margin: 0 auto;
  width: 100%;
  background-color: #000;
  height: 600px;
}

/* line 9, ../sass/_footer.scss */
.search {
  margin: 0 auto;
  padding: 25px;
  padding-left: 33px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  width: 90%;
}
/* line 17, ../sass/_footer.scss */
.search input {
  background-color: #fff;
  padding: 10px;
  height: 25px;
  font-size: 16px;
  color: #999;
  width: 100%;
}

/* line 27, ../sass/_footer.scss */
.footer_img {
  display: none;
}

/* line 31, ../sass/_footer.scss */
.section, .basic {
  margin: 0 auto;
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
}
/* line 38, ../sass/_footer.scss */
.section ul li, .basic ul li {
  margin: 0;
  width: 100%;
  height: 35px;
}
/* line 42, ../sass/_footer.scss */
.section ul li a, .basic ul li a {
  text-decoration: none;
  color: #999;
  font-size: 16px;
  font-weight: bold;
}
/* line 48, ../sass/_footer.scss */
.section ul li a:hover, .basic ul li a:hover {
  color: #fff;
}

/* line 55, ../sass/_footer.scss */
.basic {
  display: inline-block;
}

/* line 60, ../sass/_footer.scss */
.footer_header {
  display: none;
}

/* line 64, ../sass/_footer.scss */
.else_where {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  clear: both;
  margin-top: 20px;
}
/* line 71, ../sass/_footer.scss */
.else_where li {
  display: inline-block;
  width: 21px;
  background-color: #fff;
  padding: 6px;
  margin-left: 7px;
}
/* line 77, ../sass/_footer.scss */
.else_where li a {
  color: #000;
}

/* line 83, ../sass/_footer.scss */
.vox {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 23px;
}
/* line 89, ../sass/_footer.scss */
.vox p {
  margin-top: 13px;
  color: #999;
}
/* line 93, ../sass/_footer.scss */
.vox a {
  text-decoration: none;
  color: #fa4b2a;
}
/* line 97, ../sass/_footer.scss */
.vox a:hover {
  text-decoration: underline;
}

/* line 102, ../sass/_footer.scss */
.new_else {
  display: none;
}

/* line 106, ../sass/_footer.scss */
.left_corner {
  display: none;
}

/* line 110, ../sass/_footer.scss */
.else {
  display: none;
}

@media screen and (min-width: 500px) {
  /* line 114, ../sass/_footer.scss */
  .section, .basic {
    width: 33%;
  }

  /* line 118, ../sass/_footer.scss */
  .else_where {
    display: none;
  }

  /* line 122, ../sass/_footer.scss */
  .icons {
    display: none;
  }

  /* line 126, ../sass/_footer.scss */
  .new_else {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
  }
  /* line 134, ../sass/_footer.scss */
  .new_else ul li {
    margin: 0;
    width: 100%;
    height: 35px;
  }
  /* line 138, ../sass/_footer.scss */
  .new_else ul li a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 144, ../sass/_footer.scss */
  .new_else ul li a:hover {
    color: #fff;
  }

  /* line 152, ../sass/_footer.scss */
  .vox {
    clear: both;
  }
}
@media screen and (min-width: 600px) {
  /* line 158, ../sass/_footer.scss */
  #site_footer {
    height: 500px;
  }

  /* line 162, ../sass/_footer.scss */
  .search {
    width: 35%;
    clear: both;
    padding-left: 17px;
    padding-top: 0;
  }

  /* line 169, ../sass/_footer.scss */
  .footer_img {
    float: left;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 10px;
  }
  /* line 176, ../sass/_footer.scss */
  .footer_img img {
    width: 100%;
  }

  /* line 181, ../sass/_footer.scss */
  .section, .basic {
    width: 22%;
    padding-top: 33px;
  }

  /* line 186, ../sass/_footer.scss */
  .footer_header {
    display: block;
    color: #999;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
  }
  /* line 192, ../sass/_footer.scss */
  .footer_header em {
    color: #fa4b2a;
  }

  /* line 197, ../sass/_footer.scss */
  .new_else {
    width: 20%;
    padding-top: 33px;
  }

  /* line 202, ../sass/_footer.scss */
  .vox {
    margin: 0 auto;
    padding: 0;
    width: auto;
    float: right;
    clear: none;
    text-align: right;
    display: inline;
  }

  /* line 212, ../sass/_footer.scss */
  .left_corner {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    float: left;
    padding: 11px;
    clear: both;
    box-sizing: border-box;
  }
  /* line 221, ../sass/_footer.scss */
  .left_corner .sys {
    color: #999;
  }
  /* line 224, ../sass/_footer.scss */
  .left_corner .sys:hover {
    text-decoration: none;
  }
  /* line 227, ../sass/_footer.scss */
  .left_corner a {
    text-decoration: none;
    color: #fa4b2a;
    display: block;
    font-size: 13px;
    padding: 3px;
  }
  /* line 235, ../sass/_footer.scss */
  .left_corner a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 800px) {
  /* line 242, ../sass/_footer.scss */
  .new_else {
    display: none;
  }

  /* line 246, ../sass/_footer.scss */
  .else {
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    padding-top: 36px;
  }
  /* line 255, ../sass/_footer.scss */
  .else ul li {
    margin: 0;
    width: 100%;
    height: 35px;
  }
  /* line 259, ../sass/_footer.scss */
  .else ul li a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 264, ../sass/_footer.scss */
  .else ul li a i {
    background-color: #fff;
    color: #000;
    padding: 5px;
    width: 16px;
    margin-right: 7px;
  }
  /* line 272, ../sass/_footer.scss */
  .else ul li a:hover {
    color: #fff;
  }
}
/* line 12, ../sass/screen.scss */
#container {
  width: 100%;
  height: 100%;
  font-family: Adelle,Georgia,serif;
  cursor: pointer;
  border-right: 2px solid #fa4b2a;
}
